html {
    scroll-behavior: smooth;
}
body{
    background-color: #2e003e;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Pixelify Sans', sans-serif;
}
h1, h2, h3{
    font-family: 'Press Start 2P', cursive;
}
h1{
    color: #ff6000;
    text-align: center;
}

#emote{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    color: #ff6000;
}
#emote p{
    overflow: hidden;
    border-right: .15rem solid #ff6000;
    font-size: 18px;
    white-space: nowrap;
    letter-spacing: .1rem;
    animation: digitando 4s steps(70, end) forwards, blink-caret .75s step-end infinite;/*44 passos para 44 caracteres*/
}
#emote p span{
    opacity: 0;
}
@keyframes digitando {
    from { width: 0 }
    to { width: 747px }
}
@keyframes blink-caret{
    from, to { border-color: transparent }
    50% { border-color: #FF9F1A }
}

@keyframes blinkRed{
    49%{
        background-color: #ff6000;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: red;
    }
}

.reveal{
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.revealr{
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.revealProj{
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.2s ease, transform 1.2s ease, box-shadow 0.3s ease;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
.revealr.active {
    opacity: 1;
    transform: translateX(0);
}
.revealProj.active {
    opacity: 1;
    transform: translateY(0);
}

.blinkPoint{
    animation: blink 1s infinite;
}
@keyframes blink{
    50%{
        opacity: 0;
    }
}

.header{
    width: 100%;
    height: 100px;
    background-color: #1b0024;
    background-image: url(assets/img/proj/Portfolio_Text_Big.png);
    background-repeat: no-repeat;
    background-position: 30%;
    display: flex;
    justify-content: space-between;
}
#perfil-foto{
    background-color: orange;
    background-image: url(assets/img/proj/Perfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border: 3px solid;
    border-radius: 50px;
    margin: 50px 0 0 20px;
    animation: luz 3s infinite;
}
@keyframes luz{
    0%{
        border-color: #ff6000;
    }
    50%{
    border-color: #2e003e;
    }
    100%{
        border-color: #ff6000;
    }

}
.headerCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
/* Esconde o checkbox */
.menu-toggle {
    display: none;
}
.nav-links {
    display: flex;
    gap: 10px;
}
/* Botão hamburguer */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger span{
    width: 25px;
    height: 3px;
    background: #ff6000;
    transition: 0.3s;
}
.header a{
    color: #ff9000;
    padding: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.header a:hover{
    color: #ff6000;
}

#sobre{
    color: #ffe1bd;
    text-align: center;
    margin: 20px 10px;
}


#exp{
    text-align: center;
    color: #ffe1bd;
    margin: 20px 10px;
}
#exp .habilidades{
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    overflow: hidden;
    gap: 10px;
}
#exp .habilidade{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}
#exp .habilidade:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    cursor: context-menu;
}


#tecnos{
    text-align: center;
    margin: 20px 10px;
    color: #ffe1bd;
}
#tecnoContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 10px;
}
.tecno{
    transition: all 0.3s ease-in-out;
    margin: 10px;
}
.tecno:hover{
    color: #ff9000;
    transform: scale(1.05);
}
#tecnos img{
    width: 100px;
    height: 100px;
}



#projetos{
    margin: 20px 10px;
    color: #ffe1bd;
}
#projetos h2{
    text-align: center;
}
.projetoContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.projeto{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 800px;
    padding: 5px;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    text-align: start;  
}
.projeto:hover{
    box-shadow: 0 5px 5px #1b0024;
}
.projeto p{
    text-align: justify;
}
.projeto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.projeto img:hover{
    transform: scale(1.05);
}
.projeto .projeto-image{
    width: 100%;
    height: 40%;
    border: 1px solid #FFE1BD;
    border-radius: 10px;
    overflow: hidden;
}
.projeto .projeto-image:hover{
    border-color: #FF9000;
}
.projeto-content{
    height: 100%;
}
.projeto a img{
    width: 30px;
    height: 30px;
}
.projetoDesc{
    height: 50%;
    padding: 10px;
    font-size: 18px;
}
.projetoDesc h3{
    font-size: 20px;
    margin: 20px 0;
}
.projetoDesc .content{
    padding: 0 20px;
}
.projetLink{
    position: relative;
    bottom: 1px;
    height: 10%;
    padding: 5px;
}

.tag{
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
}
.gj{
    background-color: #FF6E00;
}
.gdev{
    background-color: #FF0000;
}
.unity{
    background-color: #262626;
}
.cs{
    background-color: blue;
}


#contactos{
    text-align: center;
    margin: 20px 10px;
    color: #ffe1bd;
}
#contactos img{
    width: 100px;
    height: 100px;
}
#contactosContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 10px;
}
.contacto{
    transition: all 0.3s ease-in-out;
    margin: 20px;
}
.contacto:hover{
    color: #ff9000;
    transform: scale(1.05);
}
.contacto:hover p{
    animation: blink 1s infinite;
}

footer{
    background-color: #1b0024;
    color: #ff6000;
    text-align: center;   
}

@media (max-width: 768px){
    body{
        max-width: 720px;
    }
    .header{
        width: 100%;
        height: 60px;
        background-position: 100px;
        background-size: 200px;
    }
    #sobre{
        margin: 0;
    }
    #perfil-foto{
        width: 60px;
        height: 60px;
        margin: 20px 0 0 200px;
    }
    .hamburger {
        display: flex;
        margin-right: 10px;
    }
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: #1b0024;
        flex-direction: column;
        z-index: 9999;
        width: 200px;
        padding: 20px;
        gap: 15px;
        display: none;
    }
    /* Quando checkbox estiver marcado */
    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }
    /* Animação virar X */
    #menu-toggle:checked + .hamburger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        animation: blinkRed 3s infinite;
    }
    #menu-toggle:checked + .hamburger span:nth-child(2) {
        opacity: 0;
    }
    #menu-toggle:checked + .hamburger span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
        animation: blinkRed 3s infinite;
    }
    #menu-toggle:checked + .hamburger span:nth-child(4) {
        opacity: 0;
    }
    #menu-toggle:checked + .hamburger span:nth-child(5) {
        opacity: 0;
    }
    #menu-toggle:checked + .hamburger span:nth-child(6) {
        opacity: 0;
    }

    #emote{
        text-align: center;
        margin: 0;
    }
    #emote p{
        border: none;
        font-size: 12px;
        white-space: wrap;
        animation: digitando 4s steps(70, end) forwards, blink-caret .75s step-end infinite;/*44 passos para 44 caracteres*/
    }
    #emote p span{
        opacity: 1;
    }
    @keyframes digitando{
    }
    @keyframes blink-caret{
        
    }
    

    h1{
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
    p{
        font-size: 14px;
    }

    #exp{
        margin: 0;
    }
    #exp .habilidades{
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    #exp .habilidade{
        width: 100%;
        height: 100px;
        padding: 5px;
    }

    #tecnos{
        margin: 0;
    }
    #tecnoContent{
        grid-template-columns: 1fr 1fr;
    }
    #tecnos img{
        width: 50px;
        height: 50px;
    }

    #projetos{
        margin: 0;
    }
    .projetoContainer{
        display: flex;
        flex-direction: column;
    }
    .projeto{
        min-width: 100px;
        max-width: 300px;
        height: 600px;
    }
    #Tabu-Lero{
        color: #ffe1bd;
    }

    #contactos{
        margin: 0;
    }
    #contactos img{
        width: 50px;
        height: 50px;
    }
    #contactosContent{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 900px)
{
    body{
        max-width: 100%;
    }
    .header{
        width: 100%;
        height: 100px;
        background-position: 0%;
    }
    #Tabu-Lero{
        color: #ffe1bd;
    }
}